.container {
  display: grid;
  grid-template-columns: 100px 150px 80%;
  grid-template-rows: 99vh;
  background: rgb(25, 64, 147);
  background: linear-gradient(
    342deg,
    rgba(25, 64, 147, 0.28335084033613445) 0%,
    rgba(71, 119, 236, 0.21612394957983194) 35%,
    rgba(0, 86, 255, 0.5130427170868348) 100%
  );
  overflow-y: inherit;
}
.onlone_box {
  background: rgb(255, 255, 255);
}
.conversation {
  /* background-color: salmon; */
}
.onlone_box h2 {
  border-bottom: 1px solid black;
  padding: 0.2rem;
  font-size: 1rem;
}
.users_box {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  overflow-y: scroll;
  height: 85vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.users {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.users p {
  color: rgb(72, 73, 72);
  font-weight: 600;
  letter-spacing: 1.2px;
}
.users p span {
  color: #00000058;
}
.users small {
  color: rgb(25, 217, 25);
  letter-spacing: 2px;
}
.chat_form_box {
  /* width: 100vw; */
}
img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.logout_btn {
  width: 100%;
  border: none;
  background-color: gray;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.3rem;
}
